/* 1 */
h1, h2, h3, p, body, div {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Helvetica, sans-serif;
}

/* 2 */
* {
    box-sizing: border-box;
}

/* 3 */
body {
    background-color: white;
}

/* 4 y 5 */
h1 {
    font-size: 1.8em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
h2 {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

/* 6 */
p, body {
    font-size: 0.9em;
}

/* 7 */
p {
    margin-bottom: 1em;
}

/* 8 */
article {
    background-color: #f5f5f5;
    width: 70%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

/* 9 */
article div {
    clear: right;
}

/* 10 */
figure {
    position: relative;
    float: left;
}

/* 11 */
figcaption {
    width: 143px;
    background-color: black;
    color: white;
    height: 20px;
    position: absolute;
    top: 130px;
    left: 0;
    padding: 0 0.5em 0 0;
}

/* 12 */
.overimage {
    position: absolute;
    left: 1px;
    top: 3px;
}

/* 13 */
.information {
    overflow: auto;
    border-top: 1px solid #ff8800;
}

/* 14 */
.linkbutton {
    background-color: #FF8800;
    color: white;
    text-decoration: none;
    font-size: 0.75em;
    float: right;
    padding: 0.8em;
    margin-right: 1em;
}

/* 15 */
footer {
    background-color: #474747;
    color: #cbcbcb;
    min-width: 100%;
    margin-top: 2em;
    padding: 1em;
}

/* 16 */
footer h2 {
    color: #a4a1a1;
}

/* 17 */
.footer {
    margin-left: 1.5em;
    margin-right: 1.5em;
    float: left;
    border-top: 1px solid #ff8800;
    max-width: 100%;
}

/* 18 */
.footer img {
    margin: 3px;
    width: 45px;
    height: 45px;
}

/* 19 */
.footerSection {
    margin-right: 1.5em;
    padding: 0.26em;
    overflow: hidden;
    min-width: 70%;
    border-top: solid #ff8800;
}